:root {
  --nav-bg: #000011;
  --nav-bg-accent: #484a4d;
  --text-color: #dadce1;
  --card-height: 400px;
  --card-width: 340px;  
  --nav-height: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --padding: 1px;
  --speed: 500ms;
  --content-section-bg: rgb(200, 225, 225);
  --card-bg: #ffffff;
  --font-size: 16px;
  --border-color: #AAAAAA99;
}

.user-options {
  position: absolute;
  margin-left: 30%;
  color: black;
}

.outer-box {
  border: groove #EEEEEE;  
  border-radius: 2%;
  position: absolute;
  top: 10%;
  left: 35%;
  width: min-content;
}

.inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.padding-extra-large {
  padding: 3rem;
  padding-top: 0.5rem;
}

#login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#login-submit {
  margin-top: 1rem;
}

input {
  --input-height: calc(var(--nav-height) * 0.4);
  height: var(--input-height);
}

button {
  border: none;
  cursor:pointer;
}

.centered-logo {
  position: absolute;
  /* margin-top: 1rem; */
  margin-left: 43.4%;
}

.content-section {  
  display: grid;
  margin-left: 10%;
  margin-right: 10%;  
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: var(--content-section-bg);
  background-image: linear-gradient(#000022, #001133, #002244, #003355, #004066, #005077, #006088, #007099);
} 

.card {  
  margin: 20px;
  background-color: var(--card-bg)  ;
  display: flex;  
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: var(--card-width); 
  height: var(--card-height);
}

.card * {
  margin-left: 2rem;
}

.card-title {
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.card-image {  
  width: calc(var(--card-width)*0.82);   
  height: calc(var(--card-height)*0.7);
  max-width: calc(var(--card-width)*0.9);  
  max-height: calc(var(--card-height)*0.75);
  padding-top: 0.3rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-height);
  background-size: 100%;
  /* width: 100vw; */
  box-sizing: border-box;
  background-color: var(--nav-bg);
  padding: 0 1rem;
  border-bottom: var(--border);
  margin: 0;
  padding: 0;
}

.navbar * {
  color: white;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: calc(var(--nav-height) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
}

.logo-nav-item {
  width: calc(var(--nav-height) * 1.5);
  display: flex;
  margin-left: 2rem;
  margin-right: 1.5rem;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(var(--nav-height) * 0.5));
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--nav-bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.logo-icon-button {
  --button-size: calc(var(var(--nav-height) * 0.8));  
  height: var(--button-size);
  background-color: var(--nav-bg-accent);
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  gap: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);  
}

.svg-container svg {
  fill: var(--text-color);
  --svg-size: calc(var(--nav-height)*1/3);
  width: var(--svg-size);
  height: var(--svg-size);
}

.logo-icon-button svg {  
  fill: var(--text-color);
  --logo-svg-size: calc(var(--nav-height) *1/2);
  width: var(--logo-svg-size);
  height: var(--logo-svg-size);
  padding: 0;
  margin: 0;
}

#shoppingbasket-component-container {
  margin-left: 2rem;
}

#basket-svg-container svg {
  --logo-svg-size: calc(var(--nav-height) *1/2.5);
  width: var(--logo-svg-size);
  height: var(--logo-svg-size);
  margin-top: 0.2rem;
}

.logo-icon-button #brand-name {  
  color: var(--text-color);
  /* width: 75px;   */
  text-align: center;
  align-self: center;
  padding: 0;
  margin: 0;
}

#signinmenuitem-component-container {
  margin-left: 1rem;
}

#shopping-basket-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#shopping-basket-link-container > div {
  margin-bottom: 0.1rem;
}

#basketItemCount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid orange;
  background-color: orange;
  color: orange;
  border-radius: 50%;
  width: calc(var(--card-width)*0.052);
  height: calc(var(--card-width)*0.052);
}

#nav-search {
  margin-left: 2rem;
  margin-right: 2rem;
}

.user-management-input {
  width: calc(var(--input-height)*15);
}

#nav-search-text-input {
  width: calc(var(--input-height)*25);
  height: calc(var(--input-height)*1.2);
}

#product-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 2rem;
  margin-top: 10rem;
  margin-left: 16rem;
}

#product-page-container > *{
  height: 100vh;
  margin: 0;
  padding: 0;
}

#product-info-container {
  width: 35%;
}

#product-detailed-title {
  font-size: x-large;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0;
}

#product-brand-store-link {  
  margin-top: 0;
  padding-top: 0;
  color: rgb(0, 113, 133);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#star-svg {
  width: 20px;
  height: 20px;
}

#product-info-rating-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 0rem;
}

#rating-stars-div {
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 0.1rem;
  margin-left: 0.4rem;
  margin-right: 1rem;
}

/* rating-stars */
#rating-stars-div svg {
  vertical-align: top;
  margin-left: 0;
  margin-right: 0;
  font-size: 0;
  height: 20px;
  width: 20px;
}

#current-price-div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: baseline;
  align-items: center;
}

#discount-display-div {
  color: red;
  font-size: 20px;
  font-weight: 350;  
}

#discounted-price-div {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  justify-content: baseline;
  align-items: center;
}

.smaller-fonts {
  font-size: 13px;
}

#price-display-container-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 28px;
}

.left-top-dollar-sign {
  justify-self: center;
  align-self: flex-start;
  font-size: 14px;
  padding-top: 0.4rem;
  margin-right: 0.1rem;
}

.price-decimal-part {
  justify-self: center;
  align-self: flex-start;
  font-size: 16px;
  padding-top: 0.3rem;
  margin-left: 0.1rem;
}

#price-display-int-part {
  font-weight: 600;
}
 
#price-div {
  margin-bottom: 1rem;
}

#original-price-div {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  color: grey;
  font-size: 12.5px;
}

#original-price-list-price-div {
  text-decoration: line-through;
}

.black-background {
  background-color: black;
  color: white;
  padding: 0.1rem 0.2rem;
}

#ac-badge-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

#climate-friendly-badge-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  margin-top: 1rem;
}

#climate-friendly-badge {
  width: 4.5%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 0;
}

#climate-friendly-text {
  color: green;
  margin: 0;
}

.general-info-div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.smaller-general-info-div {
  width: min-content;
}

.inline-span {
  margin: 0;
  padding: 0;
  display: flex;
  /* grid-template-rows: 1fr; */
  /* grid-template-columns: 1fr 1.4fr; */
  gap: 1.2rem;
}

.inline-span > h3 {
  width: 180px;
}

.inline-span > p {
  width: 300px;
}

.smaller-general-info-div > span > h3{
  width: 80px;
}

.smaller-general-info-div > span > p{
  width: 125px;
}

#payment-section-wrapper {
  border-color: #AAAAAA99;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}

#payment-section-wrapper > *{
 padding: 0px 1rem;
}

#price-section-wrapper {
  display: flex;
  flex-direction: column;  
  padding-top: 0.5rem;
  align-items: start;
}

#order-info-wrapper {
  padding-bottom: 0.5rem;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

#date-p {
  margin-left: 0.3rem;
}

#delivery-section-delivery-date {
  display: flex;
  flex-direction: row;
}

.bold-p {
  font-weight: 650;
}

#stock-state-notifier {
  color: green;
  font-size: large;
  font-weight: 600;
}

#buy-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#add-to-basket-button {
  width: calc(var(--card-width)*0.7);
  background-color: #FFCC00FF;
  color: black;
  padding-top: calc(var(--padding)*6);
  padding-bottom: calc(var(--padding)*5);
  padding-left: calc(var(--padding)*8);
  padding-right: calc(var(--padding)*8);
}
 
#buy-now-button {
  width: calc(var(--card-width)*0.7);
  background-color: #FF8800FF;
  color: black;
  padding-top: calc(var(--padding)*6);
  padding-bottom: calc(var(--padding)*5);
  padding-left: calc(var(--padding)*8);
  padding-right: calc(var(--padding)*8);
}

#add-to-basket-text {
  text-wrap: nowrap;
}

#added-to-basket-page-container {
  display: grid;
  grid-template-columns: 1fr 0.085fr;
}

#added-to-basket-narrowed-page-cols {
  margin-top: calc(var(--padding)*15);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: calc(var(--padding)*15);
}

#added-to-basket-narrowed-page-left-col {
  background-color: white;
  min-width: calc(var(--card-width)*3.8);
  width: calc(var(--card-width)*3.2);
  max-width: calc(var(--card-width)*3.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

#added-to-basket-narrowed-page-left-col img {
  width: calc(var(--card-width)*0.3);
}

#added-to-basket-narrowed-page-right-col {
  background-color: white;
  min-width: calc(var(--card-width)*1.1);
  width: calc(var(--card-width)*1.1);
  max-width: calc(var(--card-width)*3.6);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

#about-this-item-ul > li {
  list-style: disc;
  margin-left: 1.3rem;
}

#added-to-basket-narrowed-page {
  background-color: #CCCCCC;
}

#added-to-basket-new-right-col {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0px;
}

#added-to-basket-arrow {
  margin-left: 12rem;
  margin-right: 0rem;
  padding: 0;
}

.classic-price-display {
  margin: 0;
}

.dark-orange {
  color: #AA5500;
}

.black {
  color: black;
}

.top-margin {
  margin-top: calc(var(--padding)*11);
}

#added-to-basket-new-right-col-subtotal-text {
  margin-top: calc(var(--padding)*12);
  font-size: smaller;
  font-weight: 500;
  margin-bottom: calc(var(--padding)*2);
}

#go-to-basket-button-container {
  background-color: white;
  color: black;
  margin-top: calc(var(--padding)*12);
  padding-top: calc(var(--padding)*0);
  padding-bottom: calc(var(--padding)*3);
  padding-left: calc(var(--padding)*15);
  padding-right: calc(var(--padding)*15);
  border: solid var(--border-color);
  border-radius: 63px;
  border-width: var(--padding);
} 

#go-to-basket-button {
  background-color: white;
  color: black;
} 

.horizontal-line {  
  width: 100%;
  height: 1px;
  background-color: rgb(122, 121, 121);
  opacity: 0.5;
  margin-top: calc(var(--padding)*10);
 }

#added-to-basket-new-right-col-img-container img{
  margin-top: calc(var(--padding)*30);
  width: calc(var(--card-width)*0.3)  ;
}

.quantity-selector-button {
  width: 48px;
  height: 20px;
  border: solid var(--border-color);
  border-width: 1px;
  border-radius: 36px;
  padding: 0;
  margin-right: 50px;
  margin-top: 20px;
}

.quantity-selector-button p {
  display: inline;
  margin-left: 7px;
}

.quantity-selector-button svg {
  width: 12px;
  height: 10px;
  color: black;
  opacity: 1;
  margin: 0;
  padding: 0;
  margin-left: 8px;
}